* {
  padding: 0;
  margin: 0;
  box-shadow: 0;
  font-family: 'Roboto', sans-serif;;
}
body{
    background-color: #1C1C1C;
}
/*-------------------nav1-------------------------------*/
.nav1 {
  background-color: #1C1C1C;
  min-height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  padding: 0 20px;
}
.input_busqueda > input {
  background-color: #1C1C1C;
  border-radius: 5px;
  padding: 5px;
  border: 0;
  color: gray;
  border: solid black 3px;
}
.input_busqueda > input::placeholder {
  color: gray;
}
.input_busqueda > span {
  position: relative;
  right: 1.3em;
  top: 0.3em;
}
.monedero {
    color: gray;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.monedero > p {
  padding: 3px;
}
.cantidad {
  color: #dcae64;
}
.icono {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: solid black 3px;
}
.elements_izq{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.elements_der{
    
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elements_der > h3{
    margin: 0px 20px;
    color: gray;
}
/*-------------------nav2-------------------------------*/
.nav2{
    background-color: black;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.item{
    display: flex;
    margin: 10px;
    color: white;
}
/*------------------------kings------------------------*/
.content1 > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    color: white;
    border-bottom: solid black 1px;
}
.list_content1{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 10px;
}
.caja_flex{
    margin: 10px;
    max-width: 250px;
    max-height: 400px;
    
}
.caja1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 500ms ease-in-out;
    box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.75);
}
.caja1:hover{
    scale: 1.03;
    border: solid yellow 3px;
}
/*-------------------------heroes------------------------*/
.content2 > h2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    color: white;
    border-bottom: solid black 1px;
}
.list_content2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    gap: 40px;
    padding: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0 5vw ;
}
.caja_grid{
    margin: 10px;
}
.caja2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.75);
    transition: 500ms;
}
.caja2:hover{
    scale: 1.03;
    border: solid yellow 3px;
}
.caja_grid:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}
/*----------------------------footer----------------------------*/
footer{
    min-height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}